In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [29]:
df = pd.read_csv('C:/Users/silri/Desktop/Applied_AI/Assigments/ML+Classification+Package/ML Classification Package/4. Support Vector Machines/Bank_Customer_retirement.csv')

In [30]:
df.head()

   Customer ID        Age  401K Savings  Retire
0            0  39.180417   322349.8740       0
1            1  56.101686   768671.5740       1
2            2  57.023043   821505.4718       1
3            3  43.711358   494187.4850       0
4            4  54.728823   691435.7723       1

In [31]:
df.drop('Customer ID',axis=1,inplace=True)

In [32]:
df

           Age  401K Savings  Retire
0    39.180417   322349.8740       0
1    56.101686   768671.5740       1
2    57.023043   821505.4718       1
3    43.711358   494187.4850       0
4    54.728823   691435.7723       1
..         ...           ...     ...
495  46.678128   704243.0776       1
496  43.545007   483175.9998       0
497  46.476724   354919.1987       0
498  50.903631   639789.9219       1
499  38.590586   491310.0096       0

[500 rows x 3 columns]

In [35]:
#Standardizing the data

sc = StandardScaler()
df_inter = pd.DataFrame(sc.fit_transform(df[['Age','401K Savings']]),columns=[['Age','401K Savings']])

In [39]:
df.drop(['Age','401K Savings'],axis=1,inplace=True)

In [47]:
df = pd.concat([df,df_inter],axis=1)

In [48]:
X = df.drop('Retire',axis=1)
y = df['Retire']

In [49]:
X

       (Age,)  (401K Savings,)
0   -0.973572        -1.134123
1    1.200747         1.246411
2    1.319138         1.528209
3   -0.391363        -0.217598
4    1.024339         0.834460
..        ...              ...
495 -0.010145         0.902770
496 -0.412739        -0.276329
497 -0.036024        -0.960409
498  0.532817         0.558998
499 -1.049363        -0.232945

[500 rows x 2 columns]

In [50]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.8,random_state=42)

In [51]:
svc = SVC(C=1.0,
    kernel='rbf',
    degree=3,random_state=42)

In [52]:
svc.fit(X_train,y_train)

SVC(random_state=42)

In [53]:
y_pred = pd.DataFrame(svc.predict(X_test),columns=['Retire_pred'])

In [54]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.91      0.94       198
           1       0.92      0.97      0.94       202

    accuracy                           0.94       400
   macro avg       0.94      0.94      0.94       400
weighted avg       0.94      0.94      0.94       400

In [55]:
confusion_matrix(y_test,y_pred)

array([[181,  17],
       [  7, 195]], dtype=int64)